<h1>24 <span>Game</span></h1>

<div class="gameButtons">
    <a href="#" id="howtoplayBtn">HOW TO PLAY</a>
    <a href="#" id="newgameBtn">NEW GAME</a>
    <a href="#" id="submitBtn">SUBMIT</a>
</div>

<div id="howToPlay" style="display: none;">
    <h3>How To Play This Awesome Game</h3>
    <p>
        Welcome to the world of math, where bla bla bla
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Funkære eller?
    </p>
</div>

<div id="info" style="display: none;">

</div>

<div id="gameDiv">
    
    <button id="checkAnswer" style="display: none;">SEND INN SVAR</button>

    <div style="margin-top: 20px;">

        <div>
            <div id="answerbox"></div>

        </div>

        <div id="cards" style="margin-top: 30px;">
            <!-- CARDS GOES HERE -->
        </div>

        <div id="operators" style="margin-top: 30px; margin-left: 2px;">
            <div class="cardSmBtn lightgrey">
                <span class="plus">+</span>
            </div>
            <div class="cardSmBtn lightgrey">
                <span class="minus">-</span>
            </div>
            <div class="cardSmBtn lightgrey">
                <span class="multiply">*</span>
            </div>
            <div class="cardSmBtn lightgrey">
                <span class="divide">/</span>
            </div>
            <div class="cardSmBtn darkgrey">
                <span class="pleft">(</span>
            </div>
            <div class="cardSmBtn darkgrey">
                <span class="pright">)</span>
            </div>
        </div>
    </div>
</div>


<div id="submitAnswerDiv" style="display: none;">
    <h1>Gratulerer, du klarte det!</h1>
    <h2>Registrer deg og vær med i trekningen av noe awesome</h2>
    <form action="/highscore/create" method="POST">
        <p id="showTimeUsed">
            
        </p>
        <input type="hidden" name="timeused" id="timeused">
        <label for="name">Name</label><br/>
        <input id="name" name="name">
        <br/>
        <label for="phone">Mobil</label><br/>
        <input id="phone" name="mobile">
        <br/>
        <label for="email">Epost</label><br/>
        <input id="email" name="email">
        <br/>
        <button id="submitAnswer">Send inn</button>
        <input type='hidden' name='_csrf' value='<%= _csrf %>'>
    </form>
</div>